/*
**  Globals
*/
/*
**  Mixins
*/
.kiwi-grid {
  letter-spacing: -0.31em;
/* Webkit: collapse white-space between units */
  *letter-spacing: normal;
/* reset IE < 8 */
  *word-spacing: -0.43em;
/* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
/* Webkit: fixes text-rendering: optimizeLegibility */
  font-family: Helvetica, Arial, sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  margin-left: -10px;
}
.kiwi-width {
  display: inline-block;
  *display: inline;
/* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
/*
**  Responsive grids
*/
.kiwi-width-1,
.kiwi-width-1-2,
.kiwi-width-2-2,
.kiwi-width-1-3,
.kiwi-width-2-3,
.kiwi-width-3-3,
.kiwi-width-1-4,
.kiwi-width-2-4,
.kiwi-width-3-4,
.kiwi-width-4-4,
.kiwi-width-1-5,
.kiwi-width-2-5,
.kiwi-width-3-5,
.kiwi-width-4-5,
.kiwi-width-5-5,
.kiwi-width-1-6,
.kiwi-width-2-6,
.kiwi-width-3-6,
.kiwi-width-4-6,
.kiwi-width-5-6,
.kiwi-width-6-6,
.kiwi-width-1-7,
.kiwi-width-2-7,
.kiwi-width-3-7,
.kiwi-width-4-7,
.kiwi-width-5-7,
.kiwi-width-6-7,
.kiwi-width-7-7,
.kiwi-width-1-8,
.kiwi-width-2-8,
.kiwi-width-3-8,
.kiwi-width-4-8,
.kiwi-width-5-8,
.kiwi-width-6-8,
.kiwi-width-7-8,
.kiwi-width-8-8,
.kiwi-width-1-12,
.kiwi-width-2-12,
.kiwi-width-3-12,
.kiwi-width-4-12,
.kiwi-width-5-12,
.kiwi-width-6-12,
.kiwi-width-7-12,
.kiwi-width-8-12,
.kiwi-width-9-12,
.kiwi-width-10-12,
.kiwi-width-11-12,
.kiwi-width-12-12,
display inline-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  float: left;
  padding-left: 10px;
}
.kiwi-width-1,
.kiwi-width-2-2,
.kiwi-width-3-3,
.kiwi-width-4-4,
.kiwi-width-5-5,
.kiwi-width-6-6,
.kiwi-width-7-7,
.kiwi-width-8-8,
.kiwi-width-12-12 {
  width: 100%;
}
.kiwi-width-1-2,
.kiwi-width-2-4,
.kiwi-width-3-6,
.kiwi-width-4-8,
.kiwi-width-6-12 {
  width: 50%;
}
.kiwi-width-1-3 {
  width: 33.333333333333336%;
  *width: 33.32233333333333%;
}
.kiwi-width-2-3 {
  width: 66.66666666666667%;
  *width: 66.65566666666668%;
}
.kiwi-width-1-4 {
  width: 25%;
  *width: 24.989%;
}
.kiwi-width-3-4 {
  width: 75%;
  *width: 74.989%;
}
.kiwi-width-1-5 {
  width: 20%;
  *width: 19.989%;
}
.kiwi-width-2-5 {
  width: 40%;
  *width: 39.989%;
}
.kiwi-width-3-5 {
  width: 60%;
  *width: 59.989%;
}
.kiwi-width-4-5 {
  width: 80%;
  *width: 79.989%;
}
.kiwi-width-1-6 {
  width: 16.666666666666668%;
  *width: 16.65566666666667%;
}
.kiwi-width-2-6 {
  width: 33.333333333333336%;
  *width: 33.32233333333333%;
}
.kiwi-width-4-6 {
  width: 66.66666666666667%;
  *width: 66.65566666666668%;
}
.kiwi-width-5-6 {
  width: 83.33333333333334%;
  *width: 83.32233333333335%;
}
.kiwi-width-1-7 {
  width: 14.285714285714286%;
  *width: 14.274714285714287%;
}
.kiwi-width-2-7 {
  width: 28.571428571428573%;
  *width: 28.560428571428574%;
}
.kiwi-width-3-7 {
  width: 42.85714285714286%;
  *width: 42.84614285714286%;
}
.kiwi-width-4-7 {
  width: 57.142857142857146%;
  *width: 57.13185714285714%;
}
.kiwi-width-5-7 {
  width: 71.42857142857143%;
  *width: 71.41757142857143%;
}
.kiwi-width-6-7 {
  width: 85.71428571428572%;
  *width: 85.70328571428573%;
}
.kiwi-width-1-8 {
  width: 12.5%;
  *width: 12.489%;
}
.kiwi-width-2-8 {
  width: 25%;
  *width: 24.989%;
}
.kiwi-width-3-8 {
  width: 37.5%;
  *width: 37.489%;
}
.kiwi-width-5-8 {
  width: 62.5%;
  *width: 62.489%;
}
.kiwi-width-6-8 {
  width: 75%;
  *width: 74.989%;
}
.kiwi-width-7-8 {
  width: 87.5%;
  *width: 87.489%;
}
.kiwi-width-1-12 {
  width: 8.333333333333334%;
  *width: 8.322333333333335%;
}
.kiwi-width-2-12 {
  width: 16.666666666666668%;
  *width: 16.65566666666667%;
}
.kiwi-width-3-12 {
  width: 25%;
  *width: 24.989%;
}
.kiwi-width-4-12 {
  width: 33.333333333333336%;
  *width: 33.32233333333333%;
}
.kiwi-width-5-12 {
  width: 41.66666666666667%;
  *width: 41.65566666666667%;
}
.kiwi-width-7-12 {
  width: 58.333333333333336%;
  *width: 58.32233333333333%;
}
.kiwi-width-8-12 {
  width: 66.66666666666667%;
  *width: 66.65566666666668%;
}
.kiwi-width-9-12 {
  width: 75%;
  *width: 74.989%;
}
.kiwi-width-10-12 {
  width: 83.33333333333334%;
  *width: 83.32233333333335%;
}
.kiwi-width-11-12 {
  width: 91.66666666666667%;
  *width: 91.65566666666668%;
}
@media (min-width: 1280px) {
  .kiwi-width-wide-1,
  .kiwi-width-wide-1-2,
  .kiwi-width-wide-2-2,
  .kiwi-width-wide-1-3,
  .kiwi-width-wide-2-3,
  .kiwi-width-wide-3-3,
  .kiwi-width-wide-1-4,
  .kiwi-width-wide-2-4,
  .kiwi-width-wide-3-4,
  .kiwi-width-wide-4-4,
  .kiwi-width-wide-1-5,
  .kiwi-width-wide-2-5,
  .kiwi-width-wide-3-5,
  .kiwi-width-wide-4-5,
  .kiwi-width-wide-5-5,
  .kiwi-width-wide-1-6,
  .kiwi-width-wide-2-6,
  .kiwi-width-wide-3-6,
  .kiwi-width-wide-4-6,
  .kiwi-width-wide-5-6,
  .kiwi-width-wide-6-6,
  .kiwi-width-wide-1-7,
  .kiwi-width-wide-2-7,
  .kiwi-width-wide-3-7,
  .kiwi-width-wide-4-7,
  .kiwi-width-wide-5-7,
  .kiwi-width-wide-6-7,
  .kiwi-width-wide-7-7,
  .kiwi-width-wide-1-8,
  .kiwi-width-wide-2-8,
  .kiwi-width-wide-3-8,
  .kiwi-width-wide-4-8,
  .kiwi-width-wide-5-8,
  .kiwi-width-wide-6-8,
  .kiwi-width-wide-7-8,
  .kiwi-width-wide-8-8,
  .kiwi-width-wide-1-12,
  .kiwi-width-wide-2-12,
  .kiwi-width-wide-3-12,
  .kiwi-width-wide-4-12,
  .kiwi-width-wide-5-12,
  .kiwi-width-wide-6-12,
  .kiwi-width-wide-7-12,
  .kiwi-width-wide-8-12,
  .kiwi-width-wide-9-12,
  .kiwi-width-wide-10-12,
  .kiwi-width-wide-11-12,
  .kiwi-width-wide-12-12,
  display inline-block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    float: left;
    padding-left: 10px;
  }
  .kiwi-width-wide-1,
  .kiwi-width-wide-2-2,
  .kiwi-width-wide-3-3,
  .kiwi-width-wide-4-4,
  .kiwi-width-wide-5-5,
  .kiwi-width-wide-6-6,
  .kiwi-width-wide-7-7,
  .kiwi-width-wide-8-8,
  .kiwi-width-wide-12-12 {
    width: 100%;
  }
  .kiwi-width-wide-1-2,
  .kiwi-width-wide-2-4,
  .kiwi-width-wide-3-6,
  .kiwi-width-wide-4-8,
  .kiwi-width-wide-6-12 {
    width: 50%;
  }
  .kiwi-width-wide-1-3 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-width-wide-2-3 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-width-wide-1-4 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-width-wide-3-4 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-width-wide-1-5 {
    width: 20%;
    *width: 19.989%;
  }
  .kiwi-width-wide-2-5 {
    width: 40%;
    *width: 39.989%;
  }
  .kiwi-width-wide-3-5 {
    width: 60%;
    *width: 59.989%;
  }
  .kiwi-width-wide-4-5 {
    width: 80%;
    *width: 79.989%;
  }
  .kiwi-width-wide-1-6 {
    width: 16.666666666666668%;
    *width: 16.65566666666667%;
  }
  .kiwi-width-wide-2-6 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-width-wide-4-6 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-width-wide-5-6 {
    width: 83.33333333333334%;
    *width: 83.32233333333335%;
  }
  .kiwi-width-wide-1-7 {
    width: 14.285714285714286%;
    *width: 14.274714285714287%;
  }
  .kiwi-width-wide-2-7 {
    width: 28.571428571428573%;
    *width: 28.560428571428574%;
  }
  .kiwi-width-wide-3-7 {
    width: 42.85714285714286%;
    *width: 42.84614285714286%;
  }
  .kiwi-width-wide-4-7 {
    width: 57.142857142857146%;
    *width: 57.13185714285714%;
  }
  .kiwi-width-wide-5-7 {
    width: 71.42857142857143%;
    *width: 71.41757142857143%;
  }
  .kiwi-width-wide-6-7 {
    width: 85.71428571428572%;
    *width: 85.70328571428573%;
  }
  .kiwi-width-wide-1-8 {
    width: 12.5%;
    *width: 12.489%;
  }
  .kiwi-width-wide-2-8 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-width-wide-3-8 {
    width: 37.5%;
    *width: 37.489%;
  }
  .kiwi-width-wide-5-8 {
    width: 62.5%;
    *width: 62.489%;
  }
  .kiwi-width-wide-6-8 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-width-wide-7-8 {
    width: 87.5%;
    *width: 87.489%;
  }
  .kiwi-width-wide-1-12 {
    width: 8.333333333333334%;
    *width: 8.322333333333335%;
  }
  .kiwi-width-wide-2-12 {
    width: 16.666666666666668%;
    *width: 16.65566666666667%;
  }
  .kiwi-width-wide-3-12 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-width-wide-4-12 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-width-wide-5-12 {
    width: 41.66666666666667%;
    *width: 41.65566666666667%;
  }
  .kiwi-width-wide-7-12 {
    width: 58.333333333333336%;
    *width: 58.32233333333333%;
  }
  .kiwi-width-wide-8-12 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-width-wide-9-12 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-width-wide-10-12 {
    width: 83.33333333333334%;
    *width: 83.32233333333335%;
  }
  .kiwi-width-wide-11-12 {
    width: 91.66666666666667%;
    *width: 91.65566666666668%;
  }
}
@media (max-width: 980px) {
  .kiwi-width-tablet-1,
  .kiwi-width-tablet-1-2,
  .kiwi-width-tablet-2-2,
  .kiwi-width-tablet-1-3,
  .kiwi-width-tablet-2-3,
  .kiwi-width-tablet-3-3,
  .kiwi-width-tablet-1-4,
  .kiwi-width-tablet-2-4,
  .kiwi-width-tablet-3-4,
  .kiwi-width-tablet-4-4,
  .kiwi-width-tablet-1-5,
  .kiwi-width-tablet-2-5,
  .kiwi-width-tablet-3-5,
  .kiwi-width-tablet-4-5,
  .kiwi-width-tablet-5-5,
  .kiwi-width-tablet-1-6,
  .kiwi-width-tablet-2-6,
  .kiwi-width-tablet-3-6,
  .kiwi-width-tablet-4-6,
  .kiwi-width-tablet-5-6,
  .kiwi-width-tablet-6-6,
  .kiwi-width-tablet-1-7,
  .kiwi-width-tablet-2-7,
  .kiwi-width-tablet-3-7,
  .kiwi-width-tablet-4-7,
  .kiwi-width-tablet-5-7,
  .kiwi-width-tablet-6-7,
  .kiwi-width-tablet-7-7,
  .kiwi-width-tablet-1-8,
  .kiwi-width-tablet-2-8,
  .kiwi-width-tablet-3-8,
  .kiwi-width-tablet-4-8,
  .kiwi-width-tablet-5-8,
  .kiwi-width-tablet-6-8,
  .kiwi-width-tablet-7-8,
  .kiwi-width-tablet-8-8,
  .kiwi-width-tablet-1-12,
  .kiwi-width-tablet-2-12,
  .kiwi-width-tablet-3-12,
  .kiwi-width-tablet-4-12,
  .kiwi-width-tablet-5-12,
  .kiwi-width-tablet-6-12,
  .kiwi-width-tablet-7-12,
  .kiwi-width-tablet-8-12,
  .kiwi-width-tablet-9-12,
  .kiwi-width-tablet-10-12,
  .kiwi-width-tablet-11-12,
  .kiwi-width-tablet-12-12,
  display inline-block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    float: left;
    padding-left: 10px;
  }
  .kiwi-width-tablet-1,
  .kiwi-width-tablet-2-2,
  .kiwi-width-tablet-3-3,
  .kiwi-width-tablet-4-4,
  .kiwi-width-tablet-5-5,
  .kiwi-width-tablet-6-6,
  .kiwi-width-tablet-7-7,
  .kiwi-width-tablet-8-8,
  .kiwi-width-tablet-12-12 {
    width: 100%;
  }
  .kiwi-width-tablet-1-2,
  .kiwi-width-tablet-2-4,
  .kiwi-width-tablet-3-6,
  .kiwi-width-tablet-4-8,
  .kiwi-width-tablet-6-12 {
    width: 50%;
  }
  .kiwi-width-tablet-1-3 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-width-tablet-2-3 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-width-tablet-1-4 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-width-tablet-3-4 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-width-tablet-1-5 {
    width: 20%;
    *width: 19.989%;
  }
  .kiwi-width-tablet-2-5 {
    width: 40%;
    *width: 39.989%;
  }
  .kiwi-width-tablet-3-5 {
    width: 60%;
    *width: 59.989%;
  }
  .kiwi-width-tablet-4-5 {
    width: 80%;
    *width: 79.989%;
  }
  .kiwi-width-tablet-1-6 {
    width: 16.666666666666668%;
    *width: 16.65566666666667%;
  }
  .kiwi-width-tablet-2-6 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-width-tablet-4-6 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-width-tablet-5-6 {
    width: 83.33333333333334%;
    *width: 83.32233333333335%;
  }
  .kiwi-width-tablet-1-7 {
    width: 14.285714285714286%;
    *width: 14.274714285714287%;
  }
  .kiwi-width-tablet-2-7 {
    width: 28.571428571428573%;
    *width: 28.560428571428574%;
  }
  .kiwi-width-tablet-3-7 {
    width: 42.85714285714286%;
    *width: 42.84614285714286%;
  }
  .kiwi-width-tablet-4-7 {
    width: 57.142857142857146%;
    *width: 57.13185714285714%;
  }
  .kiwi-width-tablet-5-7 {
    width: 71.42857142857143%;
    *width: 71.41757142857143%;
  }
  .kiwi-width-tablet-6-7 {
    width: 85.71428571428572%;
    *width: 85.70328571428573%;
  }
  .kiwi-width-tablet-1-8 {
    width: 12.5%;
    *width: 12.489%;
  }
  .kiwi-width-tablet-2-8 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-width-tablet-3-8 {
    width: 37.5%;
    *width: 37.489%;
  }
  .kiwi-width-tablet-5-8 {
    width: 62.5%;
    *width: 62.489%;
  }
  .kiwi-width-tablet-6-8 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-width-tablet-7-8 {
    width: 87.5%;
    *width: 87.489%;
  }
  .kiwi-width-tablet-1-12 {
    width: 8.333333333333334%;
    *width: 8.322333333333335%;
  }
  .kiwi-width-tablet-2-12 {
    width: 16.666666666666668%;
    *width: 16.65566666666667%;
  }
  .kiwi-width-tablet-3-12 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-width-tablet-4-12 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-width-tablet-5-12 {
    width: 41.66666666666667%;
    *width: 41.65566666666667%;
  }
  .kiwi-width-tablet-7-12 {
    width: 58.333333333333336%;
    *width: 58.32233333333333%;
  }
  .kiwi-width-tablet-8-12 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-width-tablet-9-12 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-width-tablet-10-12 {
    width: 83.33333333333334%;
    *width: 83.32233333333335%;
  }
  .kiwi-width-tablet-11-12 {
    width: 91.66666666666667%;
    *width: 91.65566666666668%;
  }
}
@media (max-width: 768px) {
  .kiwi-width-phone-1,
  .kiwi-width-phone-1-2,
  .kiwi-width-phone-2-2,
  .kiwi-width-phone-1-3,
  .kiwi-width-phone-2-3,
  .kiwi-width-phone-3-3,
  .kiwi-width-phone-1-4,
  .kiwi-width-phone-2-4,
  .kiwi-width-phone-3-4,
  .kiwi-width-phone-4-4,
  .kiwi-width-phone-1-5,
  .kiwi-width-phone-2-5,
  .kiwi-width-phone-3-5,
  .kiwi-width-phone-4-5,
  .kiwi-width-phone-5-5,
  .kiwi-width-phone-1-6,
  .kiwi-width-phone-2-6,
  .kiwi-width-phone-3-6,
  .kiwi-width-phone-4-6,
  .kiwi-width-phone-5-6,
  .kiwi-width-phone-6-6,
  .kiwi-width-phone-1-7,
  .kiwi-width-phone-2-7,
  .kiwi-width-phone-3-7,
  .kiwi-width-phone-4-7,
  .kiwi-width-phone-5-7,
  .kiwi-width-phone-6-7,
  .kiwi-width-phone-7-7,
  .kiwi-width-phone-1-8,
  .kiwi-width-phone-2-8,
  .kiwi-width-phone-3-8,
  .kiwi-width-phone-4-8,
  .kiwi-width-phone-5-8,
  .kiwi-width-phone-6-8,
  .kiwi-width-phone-7-8,
  .kiwi-width-phone-8-8,
  .kiwi-width-phone-1-12,
  .kiwi-width-phone-2-12,
  .kiwi-width-phone-3-12,
  .kiwi-width-phone-4-12,
  .kiwi-width-phone-5-12,
  .kiwi-width-phone-6-12,
  .kiwi-width-phone-7-12,
  .kiwi-width-phone-8-12,
  .kiwi-width-phone-9-12,
  .kiwi-width-phone-10-12,
  .kiwi-width-phone-11-12,
  .kiwi-width-phone-12-12,
  display inline-block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    float: left;
    padding-left: 10px;
  }
  .kiwi-width-phone-1,
  .kiwi-width-phone-2-2,
  .kiwi-width-phone-3-3,
  .kiwi-width-phone-4-4,
  .kiwi-width-phone-5-5,
  .kiwi-width-phone-6-6,
  .kiwi-width-phone-7-7,
  .kiwi-width-phone-8-8,
  .kiwi-width-phone-12-12 {
    width: 100%;
  }
  .kiwi-width-phone-1-2,
  .kiwi-width-phone-2-4,
  .kiwi-width-phone-3-6,
  .kiwi-width-phone-4-8,
  .kiwi-width-phone-6-12 {
    width: 50%;
  }
  .kiwi-width-phone-1-3 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-width-phone-2-3 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-width-phone-1-4 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-width-phone-3-4 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-width-phone-1-5 {
    width: 20%;
    *width: 19.989%;
  }
  .kiwi-width-phone-2-5 {
    width: 40%;
    *width: 39.989%;
  }
  .kiwi-width-phone-3-5 {
    width: 60%;
    *width: 59.989%;
  }
  .kiwi-width-phone-4-5 {
    width: 80%;
    *width: 79.989%;
  }
  .kiwi-width-phone-1-6 {
    width: 16.666666666666668%;
    *width: 16.65566666666667%;
  }
  .kiwi-width-phone-2-6 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-width-phone-4-6 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-width-phone-5-6 {
    width: 83.33333333333334%;
    *width: 83.32233333333335%;
  }
  .kiwi-width-phone-1-7 {
    width: 14.285714285714286%;
    *width: 14.274714285714287%;
  }
  .kiwi-width-phone-2-7 {
    width: 28.571428571428573%;
    *width: 28.560428571428574%;
  }
  .kiwi-width-phone-3-7 {
    width: 42.85714285714286%;
    *width: 42.84614285714286%;
  }
  .kiwi-width-phone-4-7 {
    width: 57.142857142857146%;
    *width: 57.13185714285714%;
  }
  .kiwi-width-phone-5-7 {
    width: 71.42857142857143%;
    *width: 71.41757142857143%;
  }
  .kiwi-width-phone-6-7 {
    width: 85.71428571428572%;
    *width: 85.70328571428573%;
  }
  .kiwi-width-phone-1-8 {
    width: 12.5%;
    *width: 12.489%;
  }
  .kiwi-width-phone-2-8 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-width-phone-3-8 {
    width: 37.5%;
    *width: 37.489%;
  }
  .kiwi-width-phone-5-8 {
    width: 62.5%;
    *width: 62.489%;
  }
  .kiwi-width-phone-6-8 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-width-phone-7-8 {
    width: 87.5%;
    *width: 87.489%;
  }
  .kiwi-width-phone-1-12 {
    width: 8.333333333333334%;
    *width: 8.322333333333335%;
  }
  .kiwi-width-phone-2-12 {
    width: 16.666666666666668%;
    *width: 16.65566666666667%;
  }
  .kiwi-width-phone-3-12 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-width-phone-4-12 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-width-phone-5-12 {
    width: 41.66666666666667%;
    *width: 41.65566666666667%;
  }
  .kiwi-width-phone-7-12 {
    width: 58.333333333333336%;
    *width: 58.32233333333333%;
  }
  .kiwi-width-phone-8-12 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-width-phone-9-12 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-width-phone-10-12 {
    width: 83.33333333333334%;
    *width: 83.32233333333335%;
  }
  .kiwi-width-phone-11-12 {
    width: 91.66666666666667%;
    *width: 91.65566666666668%;
  }
}
/*
**  Display
*/
.kiwi-visible-phone {
  display: none;
}
.kiwi-visible-tablet {
  display: none;
}
.kiwi-hidden-desktop {
  display: none;
}
@media (max-width: 980px) {
  .kiwi-hidden-tablet {
    display: none;
  }
  .kiwi-visible-tablet {
    display: block;
  }
  .kiwi-visible-phone {
    display: none;
  }
  .kiwi-visible-desktop {
    display: none;
  }
}
@media (max-width: 768px) {
  .kiwi-hidden-phone {
    display: none;
  }
  .kiwi-visible-phone {
    display: block;
  }
  .kiwi-visible-desktop {
    display: none;
  }
  .kiwi-visible-tablet {
    display: none;
  }
}
