/*
**  http://tuxlinuxien.github.io/kiwi/
**  Yoann Cerda
*/
.kiwi-grid {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flexbox;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  word-spacing: -0.43em;
  *font-size: 0;
}
.kiwi-grid .centered {
  display: block;
  margin: 0 auto;
}
.kiwi-grid > * {
  word-spacing: normal;
  letter-spacing: normal;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  min-height: 1px;
}
/*
**  Responsive grids
*/
.l-1 {
  width: 100%;
}
.l-1-2 {
  width: 50%;
  *width: 50.0%;
}
.l-1-3 {
  width: 33.3%;
  *width: 33.323%;
}
.l-2-3 {
  width: 66.7%;
  *width: 66.7%;
}
.l-3-3 {
  width: 100%;
  *width: 100.0%;
}
.l-1-4 {
  width: 25%;
  *width: 25.0%;
}
.l-3-4 {
  width: 75%;
  *width: 75.0%;
}
.l-1-5 {
  width: 20%;
  *width: 20.0%;
}
.l-2-5 {
  width: 40%;
  *width: 40.0%;
}
.l-3-5 {
  width: 60%;
  *width: 60.0%;
}
.l-4-5 {
  width: 80%;
  *width: 80.0%;
}
.l-1-6 {
  width: 16.7%;
  *width: 16.7%;
}
.l-5-6 {
  width: 83.3%;
  *width: 83.3%;
}
.l-1-7 {
  width: 14.3%;
  *width: 14.3%;
}
.l-2-7 {
  width: 28.6%;
  *width: 28.567%;
}
.l-3-7 {
  width: 42.9%;
  *width: 42.9%;
}
.l-4-7 {
  width: 57.1%;
  *width: 57.1%;
}
.l-5-7 {
  width: 71.4%;
  *width: 71.4%;
}
.l-6-7 {
  width: 85.7%;
  *width: 85.7%;
}
.l-1-8 {
  width: 12.5%;
  *width: 12.5%;
}
.l-3-8 {
  width: 37.5%;
  *width: 37.5%;
}
.l-5-8 {
  width: 62.5%;
  *width: 62.5%;
}
.l-7-8 {
  width: 87.5%;
  *width: 87.5%;
}
.l-1-12 {
  width: 8.3%;
  *width: 8.3%;
}
.l-5-12 {
  width: 41.7%;
  *width: 41.7%;
}
.l-7-12 {
  width: 58.3%;
  *width: 58.3%;
}
.l-11-12 {
  width: 91.7%;
  *width: 91.7%;
}
.l-1-16 {
  width: 6.25%;
  *width: 6.2%;
}
.l-3-16 {
  width: 18.75%;
  *width: 18.7%;
}
.l-5-16 {
  width: 31.25%;
  *width: 31.2%;
}
.l-7-16 {
  width: 43.75%;
  *width: 43.7%;
}
.l-9-16 {
  width: 56.25%;
  *width: 56.2%;
}
.l-11-16 {
  width: 68.75%;
  *width: 68.7%;
}
.l-13-16 {
  width: 81.25%;
  *width: 81.2%;
}
.l-15-16 {
  width: 93.75%;
  *width: 93.7%;
}
.kiwi-visible-l {
  display: block;
}
.kiwi-visible-xl,
.kiwi-hidden-l,
.kiwi-visible-s,
.kiwi-visible-m {
  display: none;
}
@media  (min-width: 1900px) {
  .xl-1 {
    width: 100%;
  }
  .xl-1-2 {
    width: 50%;
    *width: 50.0%;
  }
  .xl-1-3 {
    width: 33.3%;
    *width: 33.323%;
  }
  .xl-2-3 {
    width: 66.7%;
    *width: 66.7%;
  }
  .xl-3-3 {
    width: 100%;
    *width: 100.0%;
  }
  .xl-1-4 {
    width: 25%;
    *width: 25.0%;
  }
  .xl-3-4 {
    width: 75%;
    *width: 75.0%;
  }
  .xl-1-5 {
    width: 20%;
    *width: 20.0%;
  }
  .xl-2-5 {
    width: 40%;
    *width: 40.0%;
  }
  .xl-3-5 {
    width: 60%;
    *width: 60.0%;
  }
  .xl-4-5 {
    width: 80%;
    *width: 80.0%;
  }
  .xl-1-6 {
    width: 16.7%;
    *width: 16.7%;
  }
  .xl-5-6 {
    width: 83.3%;
    *width: 83.3%;
  }
  .xl-1-7 {
    width: 14.3%;
    *width: 14.3%;
  }
  .xl-2-7 {
    width: 28.6%;
    *width: 28.567%;
  }
  .xl-3-7 {
    width: 42.9%;
    *width: 42.9%;
  }
  .xl-4-7 {
    width: 57.1%;
    *width: 57.1%;
  }
  .xl-5-7 {
    width: 71.4%;
    *width: 71.4%;
  }
  .xl-6-7 {
    width: 85.7%;
    *width: 85.7%;
  }
  .xl-1-8 {
    width: 12.5%;
    *width: 12.5%;
  }
  .xl-3-8 {
    width: 37.5%;
    *width: 37.5%;
  }
  .xl-5-8 {
    width: 62.5%;
    *width: 62.5%;
  }
  .xl-7-8 {
    width: 87.5%;
    *width: 87.5%;
  }
  .xl-1-12 {
    width: 8.3%;
    *width: 8.3%;
  }
  .xl-5-12 {
    width: 41.7%;
    *width: 41.7%;
  }
  .xl-7-12 {
    width: 58.3%;
    *width: 58.3%;
  }
  .xl-11-12 {
    width: 91.7%;
    *width: 91.7%;
  }
  .xl-1-16 {
    width: 6.25%;
    *width: 6.2%;
  }
  .xl-3-16 {
    width: 18.75%;
    *width: 18.7%;
  }
  .xl-5-16 {
    width: 31.25%;
    *width: 31.2%;
  }
  .xl-7-16 {
    width: 43.75%;
    *width: 43.7%;
  }
  .xl-9-16 {
    width: 56.25%;
    *width: 56.2%;
  }
  .xl-11-16 {
    width: 68.75%;
    *width: 68.7%;
  }
  .xl-13-16 {
    width: 81.25%;
    *width: 81.2%;
  }
  .xl-15-16 {
    width: 93.75%;
    *width: 93.7%;
  }
  .kiwi-visible-xl {
    display: block;
  }
  .kiwi-hidden-xl,
  .kiwi-visible-l,
  .kiwi-visible-m,
  .kiwi-visible-s {
    display: none;
  }
}
@media  (max-width: 980px) {
  .m-1 {
    width: 100%;
  }
  .m-1-2 {
    width: 50%;
    *width: 50.0%;
  }
  .m-1-3 {
    width: 33.3%;
    *width: 33.323%;
  }
  .m-2-3 {
    width: 66.7%;
    *width: 66.7%;
  }
  .m-3-3 {
    width: 100%;
    *width: 100.0%;
  }
  .m-1-4 {
    width: 25%;
    *width: 25.0%;
  }
  .m-3-4 {
    width: 75%;
    *width: 75.0%;
  }
  .m-1-5 {
    width: 20%;
    *width: 20.0%;
  }
  .m-2-5 {
    width: 40%;
    *width: 40.0%;
  }
  .m-3-5 {
    width: 60%;
    *width: 60.0%;
  }
  .m-4-5 {
    width: 80%;
    *width: 80.0%;
  }
  .m-1-6 {
    width: 16.7%;
    *width: 16.7%;
  }
  .m-5-6 {
    width: 83.3%;
    *width: 83.3%;
  }
  .m-1-7 {
    width: 14.3%;
    *width: 14.3%;
  }
  .m-2-7 {
    width: 28.6%;
    *width: 28.567%;
  }
  .m-3-7 {
    width: 42.9%;
    *width: 42.9%;
  }
  .m-4-7 {
    width: 57.1%;
    *width: 57.1%;
  }
  .m-5-7 {
    width: 71.4%;
    *width: 71.4%;
  }
  .m-6-7 {
    width: 85.7%;
    *width: 85.7%;
  }
  .m-1-8 {
    width: 12.5%;
    *width: 12.5%;
  }
  .m-3-8 {
    width: 37.5%;
    *width: 37.5%;
  }
  .m-5-8 {
    width: 62.5%;
    *width: 62.5%;
  }
  .m-7-8 {
    width: 87.5%;
    *width: 87.5%;
  }
  .m-1-12 {
    width: 8.3%;
    *width: 8.3%;
  }
  .m-5-12 {
    width: 41.7%;
    *width: 41.7%;
  }
  .m-7-12 {
    width: 58.3%;
    *width: 58.3%;
  }
  .m-11-12 {
    width: 91.7%;
    *width: 91.7%;
  }
  .m-1-16 {
    width: 6.25%;
    *width: 6.2%;
  }
  .m-3-16 {
    width: 18.75%;
    *width: 18.7%;
  }
  .m-5-16 {
    width: 31.25%;
    *width: 31.2%;
  }
  .m-7-16 {
    width: 43.75%;
    *width: 43.7%;
  }
  .m-9-16 {
    width: 56.25%;
    *width: 56.2%;
  }
  .m-11-16 {
    width: 68.75%;
    *width: 68.7%;
  }
  .m-13-16 {
    width: 81.25%;
    *width: 81.2%;
  }
  .m-15-16 {
    width: 93.75%;
    *width: 93.7%;
  }
  .kiwi-visible-m {
    display: block;
  }
  .kiwi-hidden-m,
  .kiwi-visible-s,
  .kiwi-visible-l,
  .kiwi-visible-xl {
    display: none;
  }
}
@media  (max-width: 786px) {
  .s-1 {
    width: 100%;
  }
  .s-1-2 {
    width: 50%;
    *width: 50.0%;
  }
  .s-1-3 {
    width: 33.3%;
    *width: 33.323%;
  }
  .s-2-3 {
    width: 66.7%;
    *width: 66.7%;
  }
  .s-3-3 {
    width: 100%;
    *width: 100.0%;
  }
  .s-1-4 {
    width: 25%;
    *width: 25.0%;
  }
  .s-3-4 {
    width: 75%;
    *width: 75.0%;
  }
  .s-1-5 {
    width: 20%;
    *width: 20.0%;
  }
  .s-2-5 {
    width: 40%;
    *width: 40.0%;
  }
  .s-3-5 {
    width: 60%;
    *width: 60.0%;
  }
  .s-4-5 {
    width: 80%;
    *width: 80.0%;
  }
  .s-1-6 {
    width: 16.7%;
    *width: 16.7%;
  }
  .s-5-6 {
    width: 83.3%;
    *width: 83.3%;
  }
  .s-1-7 {
    width: 14.3%;
    *width: 14.3%;
  }
  .s-2-7 {
    width: 28.6%;
    *width: 28.567%;
  }
  .s-3-7 {
    width: 42.9%;
    *width: 42.9%;
  }
  .s-4-7 {
    width: 57.1%;
    *width: 57.1%;
  }
  .s-5-7 {
    width: 71.4%;
    *width: 71.4%;
  }
  .s-6-7 {
    width: 85.7%;
    *width: 85.7%;
  }
  .s-1-8 {
    width: 12.5%;
    *width: 12.5%;
  }
  .s-3-8 {
    width: 37.5%;
    *width: 37.5%;
  }
  .s-5-8 {
    width: 62.5%;
    *width: 62.5%;
  }
  .s-7-8 {
    width: 87.5%;
    *width: 87.5%;
  }
  .s-1-12 {
    width: 8.3%;
    *width: 8.3%;
  }
  .s-5-12 {
    width: 41.7%;
    *width: 41.7%;
  }
  .s-7-12 {
    width: 58.3%;
    *width: 58.3%;
  }
  .s-11-12 {
    width: 91.7%;
    *width: 91.7%;
  }
  .s-1-16 {
    width: 6.25%;
    *width: 6.2%;
  }
  .s-3-16 {
    width: 18.75%;
    *width: 18.7%;
  }
  .s-5-16 {
    width: 31.25%;
    *width: 31.2%;
  }
  .s-7-16 {
    width: 43.75%;
    *width: 43.7%;
  }
  .s-9-16 {
    width: 56.25%;
    *width: 56.2%;
  }
  .s-11-16 {
    width: 68.75%;
    *width: 68.7%;
  }
  .s-13-16 {
    width: 81.25%;
    *width: 81.2%;
  }
  .s-15-16 {
    width: 93.75%;
    *width: 93.7%;
  }
  .kiwi-visible-s {
    display: block;
  }
  .kiwi-hidden-s,
  .kiwi-visible-l,
  .kiwi-visible-m,
  .kiwi-visible-xl {
    display: none;
  }
}


