/*
**  Globals
*/
/*
**  Mixins
*/
.kiwi-grid {
  display: block;
  width: 100%;
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  font-size: 0;
}
/*
**  Responsive grids
*/
.kiwi-large-1,
.kiwi-large-1-2,
.kiwi-large-2-2,
.kiwi-large-1-3,
.kiwi-large-2-3,
.kiwi-large-3-3,
.kiwi-large-1-4,
.kiwi-large-2-4,
.kiwi-large-3-4,
.kiwi-large-4-4,
.kiwi-large-1-5,
.kiwi-large-2-5,
.kiwi-large-3-5,
.kiwi-large-4-5,
.kiwi-large-5-5,
.kiwi-large-1-6,
.kiwi-large-2-6,
.kiwi-large-3-6,
.kiwi-large-4-6,
.kiwi-large-5-6,
.kiwi-large-6-6,
.kiwi-large-1-7,
.kiwi-large-2-7,
.kiwi-large-3-7,
.kiwi-large-4-7,
.kiwi-large-5-7,
.kiwi-large-6-7,
.kiwi-large-7-7,
.kiwi-large-1-8,
.kiwi-large-2-8,
.kiwi-large-3-8,
.kiwi-large-4-8,
.kiwi-large-5-8,
.kiwi-large-6-8,
.kiwi-large-7-8,
.kiwi-large-8-8,
.kiwi-large-1-12,
.kiwi-large-2-12,
.kiwi-large-3-12,
.kiwi-large-4-12,
.kiwi-large-5-12,
.kiwi-large-6-12,
.kiwi-large-7-12,
.kiwi-large-8-12,
.kiwi-large-9-12,
.kiwi-large-10-12,
.kiwi-large-11-12,
.kiwi-large-12-12 {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  min-height: 1px;
}
.kiwi-large-1,
.kiwi-large-2-2,
.kiwi-large-3-3,
.kiwi-large-4-4,
.kiwi-large-5-5,
.kiwi-large-6-6,
.kiwi-large-7-7,
.kiwi-large-8-8,
.kiwi-large-12-12 {
  width: 100%;
}
.kiwi-large-1-2,
.kiwi-large-2-4,
.kiwi-large-3-6,
.kiwi-large-4-8,
.kiwi-large-6-12 {
  width: 50%;
}
.kiwi-large-1-2.centered {
  margin-left: 25%;
}
.kiwi-large-2-2.centered {
  margin-left: 0%;
}
.kiwi-large-1-3 {
  width: 33.333333333333336%;
  *width: 33.32233333333333%;
}
.kiwi-large-1-3.centered {
  margin-left: 33.333333333333336%;
}
.kiwi-large-2-3 {
  width: 66.66666666666667%;
  *width: 66.65566666666668%;
}
.kiwi-large-2-3.centered {
  margin-left: 16.666666666666668%;
}
.kiwi-large-3-3.centered {
  margin-left: 0%;
}
.kiwi-large-1-4 {
  width: 25%;
  *width: 24.989%;
}
.kiwi-large-1-4.centered {
  margin-left: 37.5%;
}
.kiwi-large-2-4.centered {
  margin-left: 25%;
}
.kiwi-large-3-4 {
  width: 75%;
  *width: 74.989%;
}
.kiwi-large-3-4.centered {
  margin-left: 12.5%;
}
.kiwi-large-4-4.centered {
  margin-left: 0%;
}
.kiwi-large-1-5 {
  width: 20%;
  *width: 19.989%;
}
.kiwi-large-1-5.centered {
  margin-left: 40%;
}
.kiwi-large-2-5 {
  width: 40%;
  *width: 39.989%;
}
.kiwi-large-2-5.centered {
  margin-left: 30%;
}
.kiwi-large-3-5 {
  width: 60%;
  *width: 59.989%;
}
.kiwi-large-3-5.centered {
  margin-left: 20%;
}
.kiwi-large-4-5 {
  width: 80%;
  *width: 79.989%;
}
.kiwi-large-4-5.centered {
  margin-left: 10%;
}
.kiwi-large-5-5.centered {
  margin-left: 0%;
}
.kiwi-large-1-6 {
  width: 16.666666666666668%;
  *width: 16.65566666666667%;
}
.kiwi-large-1-6.centered {
  margin-left: 41.66666666666667%;
}
.kiwi-large-2-6 {
  width: 33.333333333333336%;
  *width: 33.32233333333333%;
}
.kiwi-large-2-6.centered {
  margin-left: 33.333333333333336%;
}
.kiwi-large-3-6.centered {
  margin-left: 25%;
}
.kiwi-large-4-6 {
  width: 66.66666666666667%;
  *width: 66.65566666666668%;
}
.kiwi-large-4-6.centered {
  margin-left: 16.666666666666668%;
}
.kiwi-large-5-6 {
  width: 83.33333333333334%;
  *width: 83.32233333333335%;
}
.kiwi-large-5-6.centered {
  margin-left: 8.333333333333334%;
}
.kiwi-large-6-6.centered {
  margin-left: 0%;
}
.kiwi-large-1-7 {
  width: 14.285714285714286%;
  *width: 14.274714285714287%;
}
.kiwi-large-1-7.centered {
  margin-left: 42.85714285714286%;
}
.kiwi-large-2-7 {
  width: 28.571428571428573%;
  *width: 28.560428571428574%;
}
.kiwi-large-2-7.centered {
  margin-left: 35.714285714285715%;
}
.kiwi-large-3-7 {
  width: 42.85714285714286%;
  *width: 42.84614285714286%;
}
.kiwi-large-3-7.centered {
  margin-left: 28.571428571428573%;
}
.kiwi-large-4-7 {
  width: 57.142857142857146%;
  *width: 57.13185714285714%;
}
.kiwi-large-4-7.centered {
  margin-left: 21.42857142857143%;
}
.kiwi-large-5-7 {
  width: 71.42857142857143%;
  *width: 71.41757142857143%;
}
.kiwi-large-5-7.centered {
  margin-left: 14.285714285714286%;
}
.kiwi-large-6-7 {
  width: 85.71428571428572%;
  *width: 85.70328571428573%;
}
.kiwi-large-6-7.centered {
  margin-left: 7.142857142857143%;
}
.kiwi-large-7-7.centered {
  margin-left: 0%;
}
.kiwi-large-1-8 {
  width: 12.5%;
  *width: 12.489%;
}
.kiwi-large-1-8.centered {
  margin-left: 43.75%;
}
.kiwi-large-2-8 {
  width: 25%;
  *width: 24.989%;
}
.kiwi-large-2-8.centered {
  margin-left: 37.5%;
}
.kiwi-large-3-8 {
  width: 37.5%;
  *width: 37.489%;
}
.kiwi-large-3-8.centered {
  margin-left: 31.25%;
}
.kiwi-large-4-8.centered {
  margin-left: 25%;
}
.kiwi-large-5-8 {
  width: 62.5%;
  *width: 62.489%;
}
.kiwi-large-5-8.centered {
  margin-left: 18.75%;
}
.kiwi-large-6-8 {
  width: 75%;
  *width: 74.989%;
}
.kiwi-large-6-8.centered {
  margin-left: 12.5%;
}
.kiwi-large-7-8 {
  width: 87.5%;
  *width: 87.489%;
}
.kiwi-large-7-8.centered {
  margin-left: 6.25%;
}
.kiwi-large-8-8.centered {
  margin-left: 0%;
}
.kiwi-large-1-12 {
  width: 8.333333333333334%;
  *width: 8.322333333333335%;
}
.kiwi-large-1-12.centered {
  margin-left: 45.833333333333336%;
}
.kiwi-large-2-12 {
  width: 16.666666666666668%;
  *width: 16.65566666666667%;
}
.kiwi-large-2-12.centered {
  margin-left: 41.66666666666667%;
}
.kiwi-large-3-12 {
  width: 25%;
  *width: 24.989%;
}
.kiwi-large-3-12.centered {
  margin-left: 37.5%;
}
.kiwi-large-4-12 {
  width: 33.333333333333336%;
  *width: 33.32233333333333%;
}
.kiwi-large-4-12.centered {
  margin-left: 33.333333333333336%;
}
.kiwi-large-5-12 {
  width: 41.66666666666667%;
  *width: 41.65566666666667%;
}
.kiwi-large-5-12.centered {
  margin-left: 29.166666666666668%;
}
.kiwi-large-6-12.centered {
  margin-left: 25%;
}
.kiwi-large-7-12 {
  width: 58.333333333333336%;
  *width: 58.32233333333333%;
}
.kiwi-large-7-12.centered {
  margin-left: 20.833333333333336%;
}
.kiwi-large-8-12 {
  width: 66.66666666666667%;
  *width: 66.65566666666668%;
}
.kiwi-large-8-12.centered {
  margin-left: 16.666666666666668%;
}
.kiwi-large-9-12 {
  width: 75%;
  *width: 74.989%;
}
.kiwi-large-9-12.centered {
  margin-left: 12.5%;
}
.kiwi-large-10-12 {
  width: 83.33333333333334%;
  *width: 83.32233333333335%;
}
.kiwi-large-10-12.centered {
  margin-left: 8.333333333333334%;
}
.kiwi-large-11-12 {
  width: 91.66666666666667%;
  *width: 91.65566666666668%;
}
.kiwi-large-11-12.centered {
  margin-left: 4.166666666666667%;
}
.kiwi-large-12-12.centered {
  margin-left: 0%;
}
@media  (min-width: 1280px) {
  .kiwi-xlarge-1,
  .kiwi-xlarge-1-2,
  .kiwi-xlarge-2-2,
  .kiwi-xlarge-1-3,
  .kiwi-xlarge-2-3,
  .kiwi-xlarge-3-3,
  .kiwi-xlarge-1-4,
  .kiwi-xlarge-2-4,
  .kiwi-xlarge-3-4,
  .kiwi-xlarge-4-4,
  .kiwi-xlarge-1-5,
  .kiwi-xlarge-2-5,
  .kiwi-xlarge-3-5,
  .kiwi-xlarge-4-5,
  .kiwi-xlarge-5-5,
  .kiwi-xlarge-1-6,
  .kiwi-xlarge-2-6,
  .kiwi-xlarge-3-6,
  .kiwi-xlarge-4-6,
  .kiwi-xlarge-5-6,
  .kiwi-xlarge-6-6,
  .kiwi-xlarge-1-7,
  .kiwi-xlarge-2-7,
  .kiwi-xlarge-3-7,
  .kiwi-xlarge-4-7,
  .kiwi-xlarge-5-7,
  .kiwi-xlarge-6-7,
  .kiwi-xlarge-7-7,
  .kiwi-xlarge-1-8,
  .kiwi-xlarge-2-8,
  .kiwi-xlarge-3-8,
  .kiwi-xlarge-4-8,
  .kiwi-xlarge-5-8,
  .kiwi-xlarge-6-8,
  .kiwi-xlarge-7-8,
  .kiwi-xlarge-8-8,
  .kiwi-xlarge-1-12,
  .kiwi-xlarge-2-12,
  .kiwi-xlarge-3-12,
  .kiwi-xlarge-4-12,
  .kiwi-xlarge-5-12,
  .kiwi-xlarge-6-12,
  .kiwi-xlarge-7-12,
  .kiwi-xlarge-8-12,
  .kiwi-xlarge-9-12,
  .kiwi-xlarge-10-12,
  .kiwi-xlarge-11-12,
  .kiwi-xlarge-12-12 {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    min-height: 1px;
  }
  .kiwi-xlarge-1,
  .kiwi-xlarge-2-2,
  .kiwi-xlarge-3-3,
  .kiwi-xlarge-4-4,
  .kiwi-xlarge-5-5,
  .kiwi-xlarge-6-6,
  .kiwi-xlarge-7-7,
  .kiwi-xlarge-8-8,
  .kiwi-xlarge-12-12 {
    width: 100%;
  }
  .kiwi-xlarge-1-2,
  .kiwi-xlarge-2-4,
  .kiwi-xlarge-3-6,
  .kiwi-xlarge-4-8,
  .kiwi-xlarge-6-12 {
    width: 50%;
  }
  .kiwi-xlarge-1-2.centered {
    margin-left: 25%;
  }
  .kiwi-xlarge-2-2.centered {
    margin-left: 0%;
  }
  .kiwi-xlarge-1-3 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-xlarge-1-3.centered {
    margin-left: 33.333333333333336%;
  }
  .kiwi-xlarge-2-3 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-xlarge-2-3.centered {
    margin-left: 16.666666666666668%;
  }
  .kiwi-xlarge-3-3.centered {
    margin-left: 0%;
  }
  .kiwi-xlarge-1-4 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-xlarge-1-4.centered {
    margin-left: 37.5%;
  }
  .kiwi-xlarge-2-4.centered {
    margin-left: 25%;
  }
  .kiwi-xlarge-3-4 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-xlarge-3-4.centered {
    margin-left: 12.5%;
  }
  .kiwi-xlarge-4-4.centered {
    margin-left: 0%;
  }
  .kiwi-xlarge-1-5 {
    width: 20%;
    *width: 19.989%;
  }
  .kiwi-xlarge-1-5.centered {
    margin-left: 40%;
  }
  .kiwi-xlarge-2-5 {
    width: 40%;
    *width: 39.989%;
  }
  .kiwi-xlarge-2-5.centered {
    margin-left: 30%;
  }
  .kiwi-xlarge-3-5 {
    width: 60%;
    *width: 59.989%;
  }
  .kiwi-xlarge-3-5.centered {
    margin-left: 20%;
  }
  .kiwi-xlarge-4-5 {
    width: 80%;
    *width: 79.989%;
  }
  .kiwi-xlarge-4-5.centered {
    margin-left: 10%;
  }
  .kiwi-xlarge-5-5.centered {
    margin-left: 0%;
  }
  .kiwi-xlarge-1-6 {
    width: 16.666666666666668%;
    *width: 16.65566666666667%;
  }
  .kiwi-xlarge-1-6.centered {
    margin-left: 41.66666666666667%;
  }
  .kiwi-xlarge-2-6 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-xlarge-2-6.centered {
    margin-left: 33.333333333333336%;
  }
  .kiwi-xlarge-3-6.centered {
    margin-left: 25%;
  }
  .kiwi-xlarge-4-6 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-xlarge-4-6.centered {
    margin-left: 16.666666666666668%;
  }
  .kiwi-xlarge-5-6 {
    width: 83.33333333333334%;
    *width: 83.32233333333335%;
  }
  .kiwi-xlarge-5-6.centered {
    margin-left: 8.333333333333334%;
  }
  .kiwi-xlarge-6-6.centered {
    margin-left: 0%;
  }
  .kiwi-xlarge-1-7 {
    width: 14.285714285714286%;
    *width: 14.274714285714287%;
  }
  .kiwi-xlarge-1-7.centered {
    margin-left: 42.85714285714286%;
  }
  .kiwi-xlarge-2-7 {
    width: 28.571428571428573%;
    *width: 28.560428571428574%;
  }
  .kiwi-xlarge-2-7.centered {
    margin-left: 35.714285714285715%;
  }
  .kiwi-xlarge-3-7 {
    width: 42.85714285714286%;
    *width: 42.84614285714286%;
  }
  .kiwi-xlarge-3-7.centered {
    margin-left: 28.571428571428573%;
  }
  .kiwi-xlarge-4-7 {
    width: 57.142857142857146%;
    *width: 57.13185714285714%;
  }
  .kiwi-xlarge-4-7.centered {
    margin-left: 21.42857142857143%;
  }
  .kiwi-xlarge-5-7 {
    width: 71.42857142857143%;
    *width: 71.41757142857143%;
  }
  .kiwi-xlarge-5-7.centered {
    margin-left: 14.285714285714286%;
  }
  .kiwi-xlarge-6-7 {
    width: 85.71428571428572%;
    *width: 85.70328571428573%;
  }
  .kiwi-xlarge-6-7.centered {
    margin-left: 7.142857142857143%;
  }
  .kiwi-xlarge-7-7.centered {
    margin-left: 0%;
  }
  .kiwi-xlarge-1-8 {
    width: 12.5%;
    *width: 12.489%;
  }
  .kiwi-xlarge-1-8.centered {
    margin-left: 43.75%;
  }
  .kiwi-xlarge-2-8 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-xlarge-2-8.centered {
    margin-left: 37.5%;
  }
  .kiwi-xlarge-3-8 {
    width: 37.5%;
    *width: 37.489%;
  }
  .kiwi-xlarge-3-8.centered {
    margin-left: 31.25%;
  }
  .kiwi-xlarge-4-8.centered {
    margin-left: 25%;
  }
  .kiwi-xlarge-5-8 {
    width: 62.5%;
    *width: 62.489%;
  }
  .kiwi-xlarge-5-8.centered {
    margin-left: 18.75%;
  }
  .kiwi-xlarge-6-8 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-xlarge-6-8.centered {
    margin-left: 12.5%;
  }
  .kiwi-xlarge-7-8 {
    width: 87.5%;
    *width: 87.489%;
  }
  .kiwi-xlarge-7-8.centered {
    margin-left: 6.25%;
  }
  .kiwi-xlarge-8-8.centered {
    margin-left: 0%;
  }
  .kiwi-xlarge-1-12 {
    width: 8.333333333333334%;
    *width: 8.322333333333335%;
  }
  .kiwi-xlarge-1-12.centered {
    margin-left: 45.833333333333336%;
  }
  .kiwi-xlarge-2-12 {
    width: 16.666666666666668%;
    *width: 16.65566666666667%;
  }
  .kiwi-xlarge-2-12.centered {
    margin-left: 41.66666666666667%;
  }
  .kiwi-xlarge-3-12 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-xlarge-3-12.centered {
    margin-left: 37.5%;
  }
  .kiwi-xlarge-4-12 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-xlarge-4-12.centered {
    margin-left: 33.333333333333336%;
  }
  .kiwi-xlarge-5-12 {
    width: 41.66666666666667%;
    *width: 41.65566666666667%;
  }
  .kiwi-xlarge-5-12.centered {
    margin-left: 29.166666666666668%;
  }
  .kiwi-xlarge-6-12.centered {
    margin-left: 25%;
  }
  .kiwi-xlarge-7-12 {
    width: 58.333333333333336%;
    *width: 58.32233333333333%;
  }
  .kiwi-xlarge-7-12.centered {
    margin-left: 20.833333333333336%;
  }
  .kiwi-xlarge-8-12 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-xlarge-8-12.centered {
    margin-left: 16.666666666666668%;
  }
  .kiwi-xlarge-9-12 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-xlarge-9-12.centered {
    margin-left: 12.5%;
  }
  .kiwi-xlarge-10-12 {
    width: 83.33333333333334%;
    *width: 83.32233333333335%;
  }
  .kiwi-xlarge-10-12.centered {
    margin-left: 8.333333333333334%;
  }
  .kiwi-xlarge-11-12 {
    width: 91.66666666666667%;
    *width: 91.65566666666668%;
  }
  .kiwi-xlarge-11-12.centered {
    margin-left: 4.166666666666667%;
  }
  .kiwi-xlarge-12-12.centered {
    margin-left: 0%;
  }
}
@media  (max-width: 980px) {
  .kiwi-medium-1,
  .kiwi-medium-1-2,
  .kiwi-medium-2-2,
  .kiwi-medium-1-3,
  .kiwi-medium-2-3,
  .kiwi-medium-3-3,
  .kiwi-medium-1-4,
  .kiwi-medium-2-4,
  .kiwi-medium-3-4,
  .kiwi-medium-4-4,
  .kiwi-medium-1-5,
  .kiwi-medium-2-5,
  .kiwi-medium-3-5,
  .kiwi-medium-4-5,
  .kiwi-medium-5-5,
  .kiwi-medium-1-6,
  .kiwi-medium-2-6,
  .kiwi-medium-3-6,
  .kiwi-medium-4-6,
  .kiwi-medium-5-6,
  .kiwi-medium-6-6,
  .kiwi-medium-1-7,
  .kiwi-medium-2-7,
  .kiwi-medium-3-7,
  .kiwi-medium-4-7,
  .kiwi-medium-5-7,
  .kiwi-medium-6-7,
  .kiwi-medium-7-7,
  .kiwi-medium-1-8,
  .kiwi-medium-2-8,
  .kiwi-medium-3-8,
  .kiwi-medium-4-8,
  .kiwi-medium-5-8,
  .kiwi-medium-6-8,
  .kiwi-medium-7-8,
  .kiwi-medium-8-8,
  .kiwi-medium-1-12,
  .kiwi-medium-2-12,
  .kiwi-medium-3-12,
  .kiwi-medium-4-12,
  .kiwi-medium-5-12,
  .kiwi-medium-6-12,
  .kiwi-medium-7-12,
  .kiwi-medium-8-12,
  .kiwi-medium-9-12,
  .kiwi-medium-10-12,
  .kiwi-medium-11-12,
  .kiwi-medium-12-12 {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    min-height: 1px;
  }
  .kiwi-medium-1,
  .kiwi-medium-2-2,
  .kiwi-medium-3-3,
  .kiwi-medium-4-4,
  .kiwi-medium-5-5,
  .kiwi-medium-6-6,
  .kiwi-medium-7-7,
  .kiwi-medium-8-8,
  .kiwi-medium-12-12 {
    width: 100%;
  }
  .kiwi-medium-1-2,
  .kiwi-medium-2-4,
  .kiwi-medium-3-6,
  .kiwi-medium-4-8,
  .kiwi-medium-6-12 {
    width: 50%;
  }
  .kiwi-medium-1-2.centered {
    margin-left: 25%;
  }
  .kiwi-medium-2-2.centered {
    margin-left: 0%;
  }
  .kiwi-medium-1-3 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-medium-1-3.centered {
    margin-left: 33.333333333333336%;
  }
  .kiwi-medium-2-3 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-medium-2-3.centered {
    margin-left: 16.666666666666668%;
  }
  .kiwi-medium-3-3.centered {
    margin-left: 0%;
  }
  .kiwi-medium-1-4 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-medium-1-4.centered {
    margin-left: 37.5%;
  }
  .kiwi-medium-2-4.centered {
    margin-left: 25%;
  }
  .kiwi-medium-3-4 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-medium-3-4.centered {
    margin-left: 12.5%;
  }
  .kiwi-medium-4-4.centered {
    margin-left: 0%;
  }
  .kiwi-medium-1-5 {
    width: 20%;
    *width: 19.989%;
  }
  .kiwi-medium-1-5.centered {
    margin-left: 40%;
  }
  .kiwi-medium-2-5 {
    width: 40%;
    *width: 39.989%;
  }
  .kiwi-medium-2-5.centered {
    margin-left: 30%;
  }
  .kiwi-medium-3-5 {
    width: 60%;
    *width: 59.989%;
  }
  .kiwi-medium-3-5.centered {
    margin-left: 20%;
  }
  .kiwi-medium-4-5 {
    width: 80%;
    *width: 79.989%;
  }
  .kiwi-medium-4-5.centered {
    margin-left: 10%;
  }
  .kiwi-medium-5-5.centered {
    margin-left: 0%;
  }
  .kiwi-medium-1-6 {
    width: 16.666666666666668%;
    *width: 16.65566666666667%;
  }
  .kiwi-medium-1-6.centered {
    margin-left: 41.66666666666667%;
  }
  .kiwi-medium-2-6 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-medium-2-6.centered {
    margin-left: 33.333333333333336%;
  }
  .kiwi-medium-3-6.centered {
    margin-left: 25%;
  }
  .kiwi-medium-4-6 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-medium-4-6.centered {
    margin-left: 16.666666666666668%;
  }
  .kiwi-medium-5-6 {
    width: 83.33333333333334%;
    *width: 83.32233333333335%;
  }
  .kiwi-medium-5-6.centered {
    margin-left: 8.333333333333334%;
  }
  .kiwi-medium-6-6.centered {
    margin-left: 0%;
  }
  .kiwi-medium-1-7 {
    width: 14.285714285714286%;
    *width: 14.274714285714287%;
  }
  .kiwi-medium-1-7.centered {
    margin-left: 42.85714285714286%;
  }
  .kiwi-medium-2-7 {
    width: 28.571428571428573%;
    *width: 28.560428571428574%;
  }
  .kiwi-medium-2-7.centered {
    margin-left: 35.714285714285715%;
  }
  .kiwi-medium-3-7 {
    width: 42.85714285714286%;
    *width: 42.84614285714286%;
  }
  .kiwi-medium-3-7.centered {
    margin-left: 28.571428571428573%;
  }
  .kiwi-medium-4-7 {
    width: 57.142857142857146%;
    *width: 57.13185714285714%;
  }
  .kiwi-medium-4-7.centered {
    margin-left: 21.42857142857143%;
  }
  .kiwi-medium-5-7 {
    width: 71.42857142857143%;
    *width: 71.41757142857143%;
  }
  .kiwi-medium-5-7.centered {
    margin-left: 14.285714285714286%;
  }
  .kiwi-medium-6-7 {
    width: 85.71428571428572%;
    *width: 85.70328571428573%;
  }
  .kiwi-medium-6-7.centered {
    margin-left: 7.142857142857143%;
  }
  .kiwi-medium-7-7.centered {
    margin-left: 0%;
  }
  .kiwi-medium-1-8 {
    width: 12.5%;
    *width: 12.489%;
  }
  .kiwi-medium-1-8.centered {
    margin-left: 43.75%;
  }
  .kiwi-medium-2-8 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-medium-2-8.centered {
    margin-left: 37.5%;
  }
  .kiwi-medium-3-8 {
    width: 37.5%;
    *width: 37.489%;
  }
  .kiwi-medium-3-8.centered {
    margin-left: 31.25%;
  }
  .kiwi-medium-4-8.centered {
    margin-left: 25%;
  }
  .kiwi-medium-5-8 {
    width: 62.5%;
    *width: 62.489%;
  }
  .kiwi-medium-5-8.centered {
    margin-left: 18.75%;
  }
  .kiwi-medium-6-8 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-medium-6-8.centered {
    margin-left: 12.5%;
  }
  .kiwi-medium-7-8 {
    width: 87.5%;
    *width: 87.489%;
  }
  .kiwi-medium-7-8.centered {
    margin-left: 6.25%;
  }
  .kiwi-medium-8-8.centered {
    margin-left: 0%;
  }
  .kiwi-medium-1-12 {
    width: 8.333333333333334%;
    *width: 8.322333333333335%;
  }
  .kiwi-medium-1-12.centered {
    margin-left: 45.833333333333336%;
  }
  .kiwi-medium-2-12 {
    width: 16.666666666666668%;
    *width: 16.65566666666667%;
  }
  .kiwi-medium-2-12.centered {
    margin-left: 41.66666666666667%;
  }
  .kiwi-medium-3-12 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-medium-3-12.centered {
    margin-left: 37.5%;
  }
  .kiwi-medium-4-12 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-medium-4-12.centered {
    margin-left: 33.333333333333336%;
  }
  .kiwi-medium-5-12 {
    width: 41.66666666666667%;
    *width: 41.65566666666667%;
  }
  .kiwi-medium-5-12.centered {
    margin-left: 29.166666666666668%;
  }
  .kiwi-medium-6-12.centered {
    margin-left: 25%;
  }
  .kiwi-medium-7-12 {
    width: 58.333333333333336%;
    *width: 58.32233333333333%;
  }
  .kiwi-medium-7-12.centered {
    margin-left: 20.833333333333336%;
  }
  .kiwi-medium-8-12 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-medium-8-12.centered {
    margin-left: 16.666666666666668%;
  }
  .kiwi-medium-9-12 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-medium-9-12.centered {
    margin-left: 12.5%;
  }
  .kiwi-medium-10-12 {
    width: 83.33333333333334%;
    *width: 83.32233333333335%;
  }
  .kiwi-medium-10-12.centered {
    margin-left: 8.333333333333334%;
  }
  .kiwi-medium-11-12 {
    width: 91.66666666666667%;
    *width: 91.65566666666668%;
  }
  .kiwi-medium-11-12.centered {
    margin-left: 4.166666666666667%;
  }
  .kiwi-medium-12-12.centered {
    margin-left: 0%;
  }
}
@media  (max-width: 786px) {
  .kiwi-small-1,
  .kiwi-small-1-2,
  .kiwi-small-2-2,
  .kiwi-small-1-3,
  .kiwi-small-2-3,
  .kiwi-small-3-3,
  .kiwi-small-1-4,
  .kiwi-small-2-4,
  .kiwi-small-3-4,
  .kiwi-small-4-4,
  .kiwi-small-1-5,
  .kiwi-small-2-5,
  .kiwi-small-3-5,
  .kiwi-small-4-5,
  .kiwi-small-5-5,
  .kiwi-small-1-6,
  .kiwi-small-2-6,
  .kiwi-small-3-6,
  .kiwi-small-4-6,
  .kiwi-small-5-6,
  .kiwi-small-6-6,
  .kiwi-small-1-7,
  .kiwi-small-2-7,
  .kiwi-small-3-7,
  .kiwi-small-4-7,
  .kiwi-small-5-7,
  .kiwi-small-6-7,
  .kiwi-small-7-7,
  .kiwi-small-1-8,
  .kiwi-small-2-8,
  .kiwi-small-3-8,
  .kiwi-small-4-8,
  .kiwi-small-5-8,
  .kiwi-small-6-8,
  .kiwi-small-7-8,
  .kiwi-small-8-8,
  .kiwi-small-1-12,
  .kiwi-small-2-12,
  .kiwi-small-3-12,
  .kiwi-small-4-12,
  .kiwi-small-5-12,
  .kiwi-small-6-12,
  .kiwi-small-7-12,
  .kiwi-small-8-12,
  .kiwi-small-9-12,
  .kiwi-small-10-12,
  .kiwi-small-11-12,
  .kiwi-small-12-12 {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    min-height: 1px;
  }
  .kiwi-small-1,
  .kiwi-small-2-2,
  .kiwi-small-3-3,
  .kiwi-small-4-4,
  .kiwi-small-5-5,
  .kiwi-small-6-6,
  .kiwi-small-7-7,
  .kiwi-small-8-8,
  .kiwi-small-12-12 {
    width: 100%;
  }
  .kiwi-small-1-2,
  .kiwi-small-2-4,
  .kiwi-small-3-6,
  .kiwi-small-4-8,
  .kiwi-small-6-12 {
    width: 50%;
  }
  .kiwi-small-1-2.centered {
    margin-left: 25%;
  }
  .kiwi-small-2-2.centered {
    margin-left: 0%;
  }
  .kiwi-small-1-3 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-small-1-3.centered {
    margin-left: 33.333333333333336%;
  }
  .kiwi-small-2-3 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-small-2-3.centered {
    margin-left: 16.666666666666668%;
  }
  .kiwi-small-3-3.centered {
    margin-left: 0%;
  }
  .kiwi-small-1-4 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-small-1-4.centered {
    margin-left: 37.5%;
  }
  .kiwi-small-2-4.centered {
    margin-left: 25%;
  }
  .kiwi-small-3-4 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-small-3-4.centered {
    margin-left: 12.5%;
  }
  .kiwi-small-4-4.centered {
    margin-left: 0%;
  }
  .kiwi-small-1-5 {
    width: 20%;
    *width: 19.989%;
  }
  .kiwi-small-1-5.centered {
    margin-left: 40%;
  }
  .kiwi-small-2-5 {
    width: 40%;
    *width: 39.989%;
  }
  .kiwi-small-2-5.centered {
    margin-left: 30%;
  }
  .kiwi-small-3-5 {
    width: 60%;
    *width: 59.989%;
  }
  .kiwi-small-3-5.centered {
    margin-left: 20%;
  }
  .kiwi-small-4-5 {
    width: 80%;
    *width: 79.989%;
  }
  .kiwi-small-4-5.centered {
    margin-left: 10%;
  }
  .kiwi-small-5-5.centered {
    margin-left: 0%;
  }
  .kiwi-small-1-6 {
    width: 16.666666666666668%;
    *width: 16.65566666666667%;
  }
  .kiwi-small-1-6.centered {
    margin-left: 41.66666666666667%;
  }
  .kiwi-small-2-6 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-small-2-6.centered {
    margin-left: 33.333333333333336%;
  }
  .kiwi-small-3-6.centered {
    margin-left: 25%;
  }
  .kiwi-small-4-6 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-small-4-6.centered {
    margin-left: 16.666666666666668%;
  }
  .kiwi-small-5-6 {
    width: 83.33333333333334%;
    *width: 83.32233333333335%;
  }
  .kiwi-small-5-6.centered {
    margin-left: 8.333333333333334%;
  }
  .kiwi-small-6-6.centered {
    margin-left: 0%;
  }
  .kiwi-small-1-7 {
    width: 14.285714285714286%;
    *width: 14.274714285714287%;
  }
  .kiwi-small-1-7.centered {
    margin-left: 42.85714285714286%;
  }
  .kiwi-small-2-7 {
    width: 28.571428571428573%;
    *width: 28.560428571428574%;
  }
  .kiwi-small-2-7.centered {
    margin-left: 35.714285714285715%;
  }
  .kiwi-small-3-7 {
    width: 42.85714285714286%;
    *width: 42.84614285714286%;
  }
  .kiwi-small-3-7.centered {
    margin-left: 28.571428571428573%;
  }
  .kiwi-small-4-7 {
    width: 57.142857142857146%;
    *width: 57.13185714285714%;
  }
  .kiwi-small-4-7.centered {
    margin-left: 21.42857142857143%;
  }
  .kiwi-small-5-7 {
    width: 71.42857142857143%;
    *width: 71.41757142857143%;
  }
  .kiwi-small-5-7.centered {
    margin-left: 14.285714285714286%;
  }
  .kiwi-small-6-7 {
    width: 85.71428571428572%;
    *width: 85.70328571428573%;
  }
  .kiwi-small-6-7.centered {
    margin-left: 7.142857142857143%;
  }
  .kiwi-small-7-7.centered {
    margin-left: 0%;
  }
  .kiwi-small-1-8 {
    width: 12.5%;
    *width: 12.489%;
  }
  .kiwi-small-1-8.centered {
    margin-left: 43.75%;
  }
  .kiwi-small-2-8 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-small-2-8.centered {
    margin-left: 37.5%;
  }
  .kiwi-small-3-8 {
    width: 37.5%;
    *width: 37.489%;
  }
  .kiwi-small-3-8.centered {
    margin-left: 31.25%;
  }
  .kiwi-small-4-8.centered {
    margin-left: 25%;
  }
  .kiwi-small-5-8 {
    width: 62.5%;
    *width: 62.489%;
  }
  .kiwi-small-5-8.centered {
    margin-left: 18.75%;
  }
  .kiwi-small-6-8 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-small-6-8.centered {
    margin-left: 12.5%;
  }
  .kiwi-small-7-8 {
    width: 87.5%;
    *width: 87.489%;
  }
  .kiwi-small-7-8.centered {
    margin-left: 6.25%;
  }
  .kiwi-small-8-8.centered {
    margin-left: 0%;
  }
  .kiwi-small-1-12 {
    width: 8.333333333333334%;
    *width: 8.322333333333335%;
  }
  .kiwi-small-1-12.centered {
    margin-left: 45.833333333333336%;
  }
  .kiwi-small-2-12 {
    width: 16.666666666666668%;
    *width: 16.65566666666667%;
  }
  .kiwi-small-2-12.centered {
    margin-left: 41.66666666666667%;
  }
  .kiwi-small-3-12 {
    width: 25%;
    *width: 24.989%;
  }
  .kiwi-small-3-12.centered {
    margin-left: 37.5%;
  }
  .kiwi-small-4-12 {
    width: 33.333333333333336%;
    *width: 33.32233333333333%;
  }
  .kiwi-small-4-12.centered {
    margin-left: 33.333333333333336%;
  }
  .kiwi-small-5-12 {
    width: 41.66666666666667%;
    *width: 41.65566666666667%;
  }
  .kiwi-small-5-12.centered {
    margin-left: 29.166666666666668%;
  }
  .kiwi-small-6-12.centered {
    margin-left: 25%;
  }
  .kiwi-small-7-12 {
    width: 58.333333333333336%;
    *width: 58.32233333333333%;
  }
  .kiwi-small-7-12.centered {
    margin-left: 20.833333333333336%;
  }
  .kiwi-small-8-12 {
    width: 66.66666666666667%;
    *width: 66.65566666666668%;
  }
  .kiwi-small-8-12.centered {
    margin-left: 16.666666666666668%;
  }
  .kiwi-small-9-12 {
    width: 75%;
    *width: 74.989%;
  }
  .kiwi-small-9-12.centered {
    margin-left: 12.5%;
  }
  .kiwi-small-10-12 {
    width: 83.33333333333334%;
    *width: 83.32233333333335%;
  }
  .kiwi-small-10-12.centered {
    margin-left: 8.333333333333334%;
  }
  .kiwi-small-11-12 {
    width: 91.66666666666667%;
    *width: 91.65566666666668%;
  }
  .kiwi-small-11-12.centered {
    margin-left: 4.166666666666667%;
  }
  .kiwi-small-12-12.centered {
    margin-left: 0%;
  }
}
/*
**  Display
*/
.kiwi-visible-xlarge {
  display: none;
}
.kiwi-hidden-large {
  display: none;
}
.kiwi-visible-large {
  display: block;
}
.kiwi-visible-small {
  display: none;
}
.kiwi-visible-medium {
  display: none;
}
@media  (min-width: 1280px) {
  .kiwi-hidden-xlarge {
    display: none;
  }
  .kiwi-visible-xlarge {
    display: block;
  }
  .kiwi-visible-large {
    display: none;
  }
  .kiwi-visible-medium {
    display: none;
  }
  .kiwi-visible-small {
    display: none;
  }
}
@media  (max-width: 980px) {
  .kiwi-hidden-medium {
    display: none;
  }
  .kiwi-visible-medium {
    display: block;
  }
  .kiwi-visible-small {
    display: none;
  }
  .kiwi-visible-large {
    display: none;
  }
  .kiwi-visible-xlarge {
    display: none;
  }
}
@media  (max-width: 786px) {
  .kiwi-hidden-small {
    display: none;
  }
  .kiwi-visible-small {
    display: block;
  }
  .kiwi-visible-large {
    display: none;
  }
  .kiwi-visible-medium {
    display: none;
  }
  .kiwi-visible-xlarge {
    display: none;
  }
}

