!!! 5
html
  head
    - var STATIC="./"
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href=STATIC+"kiwi.css", type="text/css")
    :stylus
      *
        margin 0
        padding 0
      .grey
        box-sizing border-box
        -moz-box-sizing border-box
        -ms-box-sizing border-box
        padding 5px 10px
        background-color grey
        color white
        margin-bottom 5px
  body
    h1 Grids css component
    br
    h2 [TEST] Elements display
    .kiwi-visible-desktop DESKTOP VIEW 
    .kiwi-visible-tablet TABLET VIEW
    .kiwi-visible-phone MOBILE VIEW
    br
    br
    h2 [TEST] Reponsive grid 
    .kiwi-g
      .kiwi-u-1-4.kiwi-u-tablet-1-2.kiwi-u-phone-1
        .grey.kiwi-visible-desktop .kiwi-u-1-4
        .grey.kiwi-visible-tablet .kiwi-u-tablet-1-2
        .grey.kiwi-visible-phone .kiwi-u-phone-1
      .kiwi-u-1-4.kiwi-u-tablet-1-2.kiwi-u-phone-1
        .grey.kiwi-visible-desktop .kiwi-u-1-4
        .grey.kiwi-visible-tablet .kiwi-u-tablet-1-2
        .grey.kiwi-visible-phone .kiwi-u-phone-1
      .kiwi-u-1-4.kiwi-u-tablet-1-2.kiwi-u-phone-1
        .grey.kiwi-visible-desktop .kiwi-u-1-4
        .grey.kiwi-visible-tablet .kiwi-u-tablet-1-2
        .grey.kiwi-visible-phone .kiwi-u-phone-1
      .kiwi-u-1-4.kiwi-u-tablet-1-2.kiwi-u-phone-1
        .grey.kiwi-visible-desktop .kiwi-u-1-4
        .grey.kiwi-visible-tablet .kiwi-u-tablet-1-2
        .grey.kiwi-visible-phone .kiwi-u-phone-1
      
    br
    br
    h2 [TEST] Simple grid
    .kiwi-g
      .kiwi-u-3-5
        .grey .kiwi-u-3-5
      .kiwi-u-2-5
        .grey .kiwi-u-2-5
      .kiwi-u-3-7
        .grey .kiwi-u-3-7
      .kiwi-u-4-7
        .grey .kiwi-u-4-7
        
        
