/*
**  http://tuxlinuxien.github.io/kiwi/
**  Yoann Cerda
*/
@import 'nib'

$XLARGE_VIEW = 1900px
$MEDIUM_VIEW = 960px
$SMALL_VIEW = 767px
$correction = 0.031

media(args...)
  output = null
  for arg in args
    push(output,unquote('(%s: %s)' % (arg[0] arg[1])))
  unquote(s('%s',output))

$MEDIA_XLARGE = media((min-width $XLARGE_VIEW))
$MEDIA_MEDIUM = media((max-width $MEDIUM_VIEW))
$MEDIA_SMALL = media((max-width $SMALL_VIEW))

BUILDELEM(t, e, s)
  .{t}-{e}-{s}
    width (100/ s ) * e * 1%

BUILDGRID(t)

  .{t}-{"1"}
    width 100%

  BUILDELEM(t, 1, 2)

  for i in 1 2 3
    BUILDELEM(t, i, 3)

  for i in 1 3
    BUILDELEM(t, i, 4)

  for i in 1 2 3 4
    BUILDELEM(t, i, 5)

  for i in 1 5
    BUILDELEM(t, i, 6)

  for i in 1 2 3 4 5 6
    BUILDELEM(t, i, 7)

  for i in 1 3 5 7
    BUILDELEM(t, i, 8)

  for i in 1 5 7 11
    BUILDELEM(t, i, 12)

  for i in 1 3 5 7 9 11 13 15
    BUILDELEM(t, i, 16)

  for i in 1 7 9 11 13 17 19
    BUILDELEM(t, i, 20)


.kiwi-grid
  display inline-block
  width 100%

  .kiwi-col
    float left
    display inline-block

  .centered  
    margin 0 auto
    display block
    float none
    


/*
**  Responsive grids
*/
BUILDGRID('l')

.kiwi-visible-l
  display block
.kiwi-visible-xl,
.kiwi-hidden-l,
.kiwi-visible-s,
.kiwi-visible-m
  display none

@media $MEDIA_XLARGE
  BUILDGRID('xl')

  .kiwi-visible-xl
    display block

  .kiwi-hidden-xl,
  .kiwi-visible-l,
  .kiwi-visible-m,
  .kiwi-visible-s
    display none

@media $MEDIA_MEDIUM
  BUILDGRID('m')

  .kiwi-visible-m
    display block
  .kiwi-hidden-m,
  .kiwi-visible-s,
  .kiwi-visible-l,
  .kiwi-visible-xl
    display none

@media $MEDIA_SMALL
  BUILDGRID('s')

  .kiwi-visible-s
    display: block
  .kiwi-hidden-s,
  .kiwi-visible-l,
  .kiwi-visible-m,
  .kiwi-visible-xl
    display none
