/*
**  http://tuxlinuxien.github.io/kiwi/
**  Yoann Cerda
*/
@import 'nib'

$XLARGE_VIEW = 1900px
$MEDIUM_VIEW = 980px
$SMALL_VIEW = 786px
$correction = 0.011

media(args...)
  output = null
  for arg in args
    push(output,unquote('(%s: %s)' % (arg[0] arg[1])))
  unquote(s('%s',output))

$MEDIA_XLARGE = media((min-width $XLARGE_VIEW))
$MEDIA_MEDIUM = media((max-width $MEDIUM_VIEW))
$MEDIA_SMALL = media((max-width $SMALL_VIEW))

BUILDELEM(t, e, s)
  if e / s != 0.5 && e != s
    .kiwi{t}{e}-{s}
      width floor( (100/ s ) * e * 1% )
      *width floor( (((100/ s ) * e) - $correction) * 1% )

BUILDGRID(t)
  .kiwi{t}1,
  .kiwi{t}1-2,
  .kiwi{t}1-3,
  .kiwi{t}2-3,
  .kiwi{t}1-4,
  .kiwi{t}3-4,
  .kiwi{t}1-5,
  .kiwi{t}2-5,
  .kiwi{t}3-5,
  .kiwi{t}4-5,
  .kiwi{t}1-6,
  .kiwi{t}3-6,
  .kiwi{t}5-6,
  .kiwi{t}1-7,
  .kiwi{t}2-7,
  .kiwi{t}3-7,
  .kiwi{t}4-7,
  .kiwi{t}5-7,
  .kiwi{t}6-7,
  .kiwi{t}1-8,
  .kiwi{t}3-8,
  .kiwi{t}5-8,
  .kiwi{t}7-8,
  .kiwi{t}1-12,
  .kiwi{t}5-12,
  .kiwi{t}7-12,
  .kiwi{t}11-12,
  .kiwi{t}1-16,
  .kiwi{t}3-16,
  .kiwi{t}5-16,
  .kiwi{t}6-16,
  .kiwi{t}7-16,
  .kiwi{t}9-16,
  .kiwi{t}11-16,
  .kiwi{t}13-16,
  .kiwi{t}15-16
    display inline-block
    box-sizing border-box
    *display inline
    zoom 1
    vertical-align top
    min-height 1px

  .kiwi{t}1
    width 100%

  .kiwi{t}1-2
    width 50%

  for i in 1..2
    BUILDELEM(t, i, 2)

  for i in 1..3
    BUILDELEM(t, i, 3)

  for i in 1..4
    BUILDELEM(t, i, 4)

  for i in 1..5
    BUILDELEM(t, i, 5)

  for i in 1..6
    BUILDELEM(t, i, 6)

  for i in 1..7
    BUILDELEM(t, i, 7)

  for i in 1..8
    BUILDELEM(t, i, 8)

  for i in 1..12
    BUILDELEM(t, i, 12)

  for i in 1..16
    BUILDELEM(t, i, 16)

.kiwi-grid
  display block
  font-size 0

  .centered
    display block
    margin 0 auto

/*
**  Responsive grids
*/
BUILDGRID('-large-')

@media $MEDIA_XLARGE
  BUILDGRID('-xlarge-')

@media $MEDIA_MEDIUM
  BUILDGRID('-medium-')

@media $MEDIA_SMALL
  BUILDGRID('-small-')


/*
**  Display
*/
.kiwi-visible-xlarge
  display none
.kiwi-hidden-large
  display none
.kiwi-visible-large
  display block
.kiwi-visible-small
  display none
.kiwi-visible-medium
  display none

@media $MEDIA_XLARGE
  .kiwi-hidden-xlarge
    display none
  .kiwi-visible-xlarge
    display block
  .kiwi-visible-large
    display none
  .kiwi-visible-medium
    display none
  .kiwi-visible-small
    display none

@media $MEDIA_MEDIUM
  .kiwi-hidden-medium
    display none
  .kiwi-visible-medium
    display block
  .kiwi-visible-small
    display none
  .kiwi-visible-large
    display none
  .kiwi-visible-xlarge
    display none

@media $MEDIA_SMALL
  .kiwi-hidden-small
    display: none
  .kiwi-visible-small
    display: block
  .kiwi-visible-large
    display: none
  .kiwi-visible-medium
    display: none
  .kiwi-visible-xlarge
    display none
