@import 'nib'

/*
**  Globals
*/
GRID_SPACING = 10

/*
**  Mixins
*/
BUILDELEM(t, e, s)
  if e / s != 0.5 && e != s
    .kiwi-width{t}{e}-{s}
      width (100/ s ) * e * 1%
      *width (((100/ s ) * e ) - 0.011) * 1%


BUILDGRID(t)
  .kiwi-width{t}1,
  .kiwi-width{t}1-2,
  .kiwi-width{t}2-2,
  .kiwi-width{t}1-3,
  .kiwi-width{t}2-3,
  .kiwi-width{t}3-3,
  .kiwi-width{t}1-4,
  .kiwi-width{t}2-4,
  .kiwi-width{t}3-4,
  .kiwi-width{t}4-4,
  .kiwi-width{t}1-5,
  .kiwi-width{t}2-5,
  .kiwi-width{t}3-5,
  .kiwi-width{t}4-5,
  .kiwi-width{t}5-5,
  .kiwi-width{t}1-6,
  .kiwi-width{t}2-6,
  .kiwi-width{t}3-6,
  .kiwi-width{t}4-6,
  .kiwi-width{t}5-6,
  .kiwi-width{t}6-6,
  .kiwi-width{t}1-7,
  .kiwi-width{t}2-7,
  .kiwi-width{t}3-7,
  .kiwi-width{t}4-7,
  .kiwi-width{t}5-7,
  .kiwi-width{t}6-7,
  .kiwi-width{t}7-7,
  .kiwi-width{t}1-8,
  .kiwi-width{t}2-8,
  .kiwi-width{t}3-8,
  .kiwi-width{t}4-8,
  .kiwi-width{t}5-8,
  .kiwi-width{t}6-8,
  .kiwi-width{t}7-8,
  .kiwi-width{t}8-8,
  .kiwi-width{t}1-12,
  .kiwi-width{t}2-12,
  .kiwi-width{t}3-12,
  .kiwi-width{t}4-12,
  .kiwi-width{t}5-12,
  .kiwi-width{t}6-12,
  .kiwi-width{t}7-12,
  .kiwi-width{t}8-12,
  .kiwi-width{t}9-12,
  .kiwi-width{t}10-12,
  .kiwi-width{t}11-12,
  .kiwi-width{t}12-12,
    display inline-block
    box-sizing border-box
    *display inline
    zoom 1
    letter-spacing normal
    word-spacing normal
    vertical-align top
    text-rendering auto
    float left
    padding-left GRID_SPACING * 1px


  .kiwi-width{t}1,
  .kiwi-width{t}2-2,
  .kiwi-width{t}3-3,
  .kiwi-width{t}4-4,
  .kiwi-width{t}5-5,
  .kiwi-width{t}6-6,
  .kiwi-width{t}7-7,
  .kiwi-width{t}8-8,
  .kiwi-width{t}12-12
    width 100%

  .kiwi-width{t}1-2,
  .kiwi-width{t}2-4,
  .kiwi-width{t}3-6,
  .kiwi-width{t}4-8,
  .kiwi-width{t}6-12
    width 50%

  for i in 1..2
    BUILDELEM(t, i, 2)

  for i in 1..3
    BUILDELEM(t, i, 3)

  for i in 1..4
    BUILDELEM(t, i, 4)

  for i in 1..5
    BUILDELEM(t, i, 5)

  for i in 1..6
    BUILDELEM(t, i, 6)

  for i in 1..7
    BUILDELEM(t, i, 7)

  for i in 1..8
    BUILDELEM(t, i, 8)

  for i in 1..12
    BUILDELEM(t, i, 12)

.kiwi-grid
  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  *letter-spacing: normal; /* reset IE < 8 */
  *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
  font-family Helvetica, Arial, sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  margin-left GRID_SPACING * -1px

.kiwi-width
  display: inline-block;
  *display: inline; /* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;


/*
**  Responsive grids
*/
BUILDGRID('-')

@media (min-width: 1280px)
  BUILDGRID('-wide-')

@media (max-width: 980px)
  BUILDGRID('-tablet-')

@media (max-width: 768px)
  BUILDGRID('-phone-')


/*
**  Display
*/

.kiwi-visible-phone
  display: none;
.kiwi-visible-tablet
  display: none;
.kiwi-hidden-desktop
  display: none;

@media (max-width: 980px)
  .kiwi-hidden-tablet
    display: none;
  .kiwi-visible-tablet
    display: block;
  .kiwi-visible-phone
    display none
  .kiwi-visible-desktop
    display: none;

@media (max-width: 768px) 
  .kiwi-hidden-phone
    display: none;
  .kiwi-visible-phone
    display: block;
  .kiwi-visible-desktop
    display: none;
  .kiwi-visible-tablet
    display: none;
